.page-template-vente-auto {
  .wysiwyg-process {
    @apply flex flex-col gap-y-3;

    h3 {
      @apply font-hk font-bold leading-[1];
      font-size: clamp(1.375rem, 1.2321rem + 0.7143vw, 1.875rem);
    }

    p {
      @apply leading-[1.2];
    }
  }

  .action {
    span {
      font-size: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
    }
  }

  #process,
  #selling-vehicles {
    h2 {
      @apply font-bold text-center leading-[1.1] pb-[5rem];
      font-size: clamp(2.8125rem, 2.4554rem + 1.7857vw, 4.0625rem);
    }
  }

  html {
    * {
      &::-webkit-scrollbar {
        display: none !important;
      }
    }
  }

  .horizontal-scroll-wrapper {
    @apply overflow-x-auto w-full md:overflow-x-hidden;
  }

  .horizontal-scroll {
    @apply flex-nowrap flex snap-x snap-mandatory overflow-x-scroll md:flex-wrap md:overflow-x-hidden pe-3 gap-y-[2rem];
  }
}