---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ZRCAR">
	<main>
		<div class="smooth-wrapper">
			<div class="smooth-content relative">
				<div class="hero h-[100svh] relative z-[50] bg-cover">
					<div class="container">
						<div class="hero-content relative z-3 text-center max-w-none text-neutral-content w-full flex justify-center">
							<div class="flex flex-col items-center">
								<span data-animateonce="true" class="font-hk">Bienvenue chez</span>
								<h1 data-animateonce="true" class="services-text flex items-center text-start mb-5 font-bold">
									<span class="text-red-600">ZR</span>CAR
								</h1>
								<div class="row justify-center">
									<div class="col-12 col-lg-7">
										<p class="mb-5 font-montserrat text-xl">Confiez votre véhicule à l'expertise d'un garagiste aguerri, capable d'intervenir sur toutes marques avec passion et professionnalisme.</p>
									</div>
								</div>
								<div class="flex w-full sm:w-auto flex-col items-stretch gap-y-5 sm:flex-row sm:items-center gap-x-5">
									<a href="#contenu-page" class="btn btn-primary flex gap-x-3 items-center w-full sm:w-auto">
										<i class="fa-solid fa-arrow-down"></i>
										Faire un tour
									</a>
									<a href="#contact" class="btn hero-contact btn-white btn-outline w-full sm:w-auto">
										<i class="fa-solid fa-phone"></i>
										Nous contacter
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="page-content overflow-hidden z-[50] relative">
					<div class="hidden lg:block absolute pointer-events-none z-[0] top-[-10rem] left-0 w-full h-full">
						<svg width="1355" height="7826" viewBox="0 0 1355 7826" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g filter="url(#filter0_d_1_3)">
								<path d="M194.097 101C228.288 564.587 440.774 1503.55 1017.19 1550.72C1593.6 1597.88 926.789 2101.75 521.332 2347.79L130.552 2573C72.1763 2601.5 76.3126 2677.36 559.86 2752.82C1043.41 2828.28 1077.23 3596.28 1033.7 3970.84L862.076 5068C828.385 5382.43 677.444 5923.21 343.204 5570.89C-74.5956 5130.49 838.559 4877.58 1061.22 5248.41C1239.35 5545.07 831.888 6274.82 605.893 6602.61C503.819 6703.62 346.306 6935.12 532.84 7053.03C719.374 7170.95 771.345 7547.47 774.013 7721" stroke="#812222" stroke-width="16" stroke-dasharray="32 32" shape-rendering="crispEdges"/>
							</g>
							<defs>
								<filter id="filter0_d_1_3" x="0.0289917" y="0.41156" width="1354.3" height="7824.71" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
									<feFlood flood-opacity="0" result="BackgroundImageFix"/>
									<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
									<feOffset dx="3" dy="2"/>
									<feGaussianBlur stdDeviation="51"/>
									<feComposite in2="hardAlpha" operator="out"/>
									<feColorMatrix type="matrix" values="0 0 0 0 0.558887 0 0 0 0 0.0233506 0 0 0 0 0.0233506 0 0 0 1 0"/>
									<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_3"/>
									<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_3" result="shape"/>
								</filter>
							</defs>
						</svg>
					</div>
					<section class="slider-section py-5">
						<h2 class="font-hk text-white text-center font-normal pb-5">Ils nous font confiance</h2>
						<div class="slider opacity-[.6]">
							<div class="slide-track-1">
								<div class="slide">
									<img src="<?=$partenaire['url']?>" alt="<?=$partenaire['alt']?>">
								</div>
								<div class="slide">
									<img src="<?=$partenaire['url']?>" alt="<?=$partenaire['alt']?>">
								</div>
								<div class="slide">
									<img src="<?=$partenaire['url']?>" alt="<?=$partenaire['alt']?>">
								</div>
								<div class="slide">
									<img src="<?=$partenaire['url']?>" alt="<?=$partenaire['alt']?>">
								</div>
							</div>
						</div>
					</section>
					<section id="contenu-page" class="relative z-[2] section-services pt-[10rem]">
						<div class="container flex flex-col gap-y-[5rem]">
							<div class="row justify-center pb-[10rem] lg:pb-[25rem]">
								<div class="col-lg-10 flex flex-col gap-y-[2rem]">
									<h2 data-animation="true" class="services-text text-center words text-white font-hk font-bold leading-[.8]">Faites de la route un lieu sur</h2>
									<p  data-animation="true" class="services-paragraph text-center font-montserrat text-white/50 words leading-[1.5] font-normal">L'esprit ZRCar c'est avant tout une passion pour l'automobile qui se reflète dans chaque coup de clé et chaque diagnostic. En tant que garage indépendant multimarque, nous mettons notre expertise au service de l'entretien et de la réparation de tout véhicule, que ce soit votre fidèle citadine ou votre robuste SUV. Nous traitons chaque voiture avec le même soin et la même attention que nous accorderions à un modèle de collection</p>
								</div>
							</div>
						</div>
						<div class="pinned-services">
							<div class="row gap-y-[2rem] justify-center pb-[10rem] lg:pb-[25rem]">
								<div data-animation="true" class="col-10 col-lg-5 wysiwyg-service font-montserrat text-white/50 leading-[1.5]">
									<a class="btn btn-service btn-primary">
										sqdqsdq
									</a>
								</div>
								<div class="col-10 col-lg-4 h-[30vh] img-parallax rounded-[20px] bg-cover"></div>
							</div>
						</div>
					</section>
					<section id="chiffres" class="relative overflow-hidden py-20 lg:py-40 mb-[15rem]">
						<div class="bg-primary/60 absolute top-0 left-0 w-full h-full z-[1]"></div>
						<img class="bg-parallax w-[120%] h-[120%] object-cover top-0 left-0 absolute z-[0]" src="<?=get_the_post_thumbnail_url()?>" alt="chiffres" />
						<div class="container gx-5 gx-lg-0 relative z-[1]">
							<div class="row lg:flex-row-reverse gap-y-[2rem] items-start justify-between">
								<div class="col-12 col-md-6">
									<a class="flex items-center gap-x-3 justify-center lg:justify-end">
										<img src="<?=$section['image_autofirst']['url']?>" alt="Logo autofirst" />
										<span class="text-white font-montserrat text-[18px]">Garage certifié AutoFirst®</span>
									</a>
								</div>
								<div class="col-12 col-md-6">
									<div class="wysiwyg-chiffres">
									</div>
								</div>
							</div>
							<div class="row gap-y-[3rem] items-start">
								<div class="col-12 col-lg-4">
									<div class="w-full text-white h-full flex flex-col items-center gap-y-2 lg:gap-y-4">
										<i class="fa-solid <?=$chiffre['nom_de_licone']?> text-[5em]"></i>
										<span class="text-white font-hk nombre font-bold"><?=$chiffre['nombre']?></span>
										<span class="text-white font-montserrat nom text-center leading-[1.2]"><?=$chiffre['nom']?></span>
									</div>
								</div>
							</div>
						</div>
					</section>
					<div class="container">
						<div class="flex flex-col gap-y-[5rem]">
							<div class="row justify-center pb-[15rem]">
								<div class="col-lg-10 flex flex-col gap-y-[2rem]">
									<h2 data-animation="true" class="services-text text-center words text-white font-hk font-bold leading-[.8]">Envie d'acquérir un nouveau véhicule ?</h2>
									<p  data-animation="true" class="services-paragraph text-center font-montserrat text-white/50 words leading-[1.5] font-normal">Venez découvrir ce que signifie être réellement écouté et compris dans vos choix automobiles. Chez ZRCAR, vous êtes bien plus qu'un client : vous êtes un passionné d'automobile, et vous méritez une attention particulière. Pour une vente personnalisée, des conseils d'experts et une expérience d'achat unique, ZRCAR est votre destination.</p>
								</div>
							</div>
						</div>
					</div>

					<section class="ventes w-full mb-[10rem]">
						<h3 data-animation="true" class="services-text pb-[6rem] font-hk font-bold text-white text-center">Nos dernières ventes</h3>
						<div class="horizontal-scroll row gap-x-[4rem] flex-nowrap mb-[15rem] items-stretch">
							<div class="horizontal-scroll-wrap snap-x overflow-x-scroll lg:overflow-x-visible row gap-x-[2rem] lg:gap-x-[4rem] flex-nowrap lg:ps-0" style="padding: 0 3rem 0">
								<div class="card snap-center px-0 col-12 col-md-6 col-lg-5 col-xl-4 col-xxl-3 bg-primary/30 backdrop-blur-2xl border-[1px] border-primary shadow-xl">
									<figure class="h-[60%] w-full">
										<img class="object-cover w-full h-full" src="/bonjour" />
									</figure>
									<div class="card-body">
										<div class="row items-center pb-3">
											<h2 class="card-title text-white col-10 font-hk">
											</h2>
											<span class="font-montserrat text-white col-2 font-light">2021</span>
										</div>
										<div class="card-content pb-4">
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</main>
</Layout>