---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero/Hero.tsx';
---

<Layout title="ZRCAR">
	<main>
		<div class="smooth-wrapper">
			<div class="smooth-content relative">
				<Hero />
			</div>
		</div>
	</main>
</Layout>