form {
  position: relative;
  z-index: 10;
  label {
    @apply text-white font-montserrat text-start;

    span {
      width: 100%;
      padding: 1rem 0 0
    }

    input {
      transition: all .3s ease-in-out;

      &:focus {
        outline: none;
        border-bottom-color: red;
      }
    }

    textarea {
      transition: all .3s ease-in-out;
      margin: 0 0 1rem;
      &:focus {
        outline: none;
        border-bottom-color: red;
      }
    }

    input,
    textarea {
      background: transparent;
      width: 100%;
      padding: 1rem 1rem;
      border-bottom: 1.5px solid rgba(255, 255, 255, 0.73);
      @apply font-montserrat
    }
  }
}