
.services-paragraph,
.contact-paragraph {
  font-size: clamp(1.125rem, 1rem + 0.625vw, 1.5625rem);
}

.wysiwyg-service {
  @apply flex flex-col items-start gap-y-[2rem];

  &.center {
    @apply items-center;
  }

  h3 {
    @apply font-hk text-white font-semibold leading-[1];
    font-size: clamp(1.875rem, 1.3393rem + 2.6786vw, 3.75rem);
  }

  p {
    font-size: clamp(1.125rem, 1rem + 0.625vw, 1.5625rem);
  }
}

.vente-item {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: linear-gradient(to top, rgb(9, 12, 21, 1), rgba(9, 12, 21, 0));
  }
}


.card-body {
  .card-title {
    font-size: clamp(1.25rem, 1.1607rem + 0.4464vw, 1.5625rem);
  }

  p {
    font-size: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
    @apply text-white/70 font-montserrat;
  }
}

