---
import Navbar from "../components/Navbar/Navbar";
interface Props {
	title: string;
}
const { title } = Astro.props;
---
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="Astro description" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>
<style is:global>
	@import '../assets/css/variables.css';

	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	.container {
		max-width: 90%;
		margin: 0 auto;
	}

	body {
		background-color: var(--secondary-dark);

		h1 {
			font-size: var(--font-size-3xl);
		}

		h2 {
			font-size: var(--font-size-2xl);
		}

		h3 {
			font-size: var(--font-size-xl);
		}

		p {
			font-size: var(--font-size-lg);
		}
	}

	nav {
		a {
			transition: all .3s ease-in-out;
			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: -5px;
				left: 0;
				width: 0;
				height: 2px;
				background: var(--primary);
				transition: width .3s;
			}

			&:hover {
				color: var(--primary);
				&:after {
					width: 100%;
				}
			}
		}
	}

	.btn {
		text-align: center;
		padding: 10px 20px;
		border-radius: 13px;
		font-weight: 600;
		cursor: pointer;
		font-size: var(--font-size-xl);
		width: 100%;
		transition: all .2s ease-in-out;

		&.btn-primary {
			background-color: var(--primary);
			border: 2px solid var(--primary);

			&:hover {
				background-color: var(--primary-dark);
				border: 2px solid var(--primary-dark);
			}
		}

		&.btn-secondary {
			background-color: transparent;
			border: 2px solid var(--gray-300);

			&:hover {
				background-color: var(--gray-300);
				border: 2px solid var(--gray-300);
				color: var(--secondary-dark);
			}
		}
	}

	@media screen and (min-width: 576px) {
		.container {
			max-width: 576px;
		}
	}

	@media screen and (min-width: 768px) {
		.btn {
			width: auto;
		}

		.container {
			max-width: 768px;
		}
	}

	@media screen and (min-width: 991px) {
		.container {
			max-width: 991px;
		}
	}
	@media screen and (min-width: 1200px) {
		.container {
			max-width: 1200px;
		}
	}
	@media screen and (min-width: 1440px) {
		.container {
			max-width: 1400px;
		}
	}
</style>